@font-face {
  font-family: "Lato";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/LatoItalic/Lato-RegularItalic.woff2") format("woff2"), url("../fonts/LatoItalic/Lato-RegularItalic.woff") format("woff"), url("../fonts/LatoItalic/Lato-RegularItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/LatoRegular/Lato-Regular.woff2") format("woff2"), url("../fonts/LatoRegular/Lato-Regular.woff") format("woff"), url("../fonts/LatoRegular/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MontserratRegular/Montserrat-Regular.woff2") format("woff2"), url("../fonts/MontserratRegular/Montserrat-Regular.woff") format("woff"), url("../fonts/MontserratRegular/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/MontserratBold/Montserrat-Bold.woff2") format("woff2"), url("../fonts/MontserratBold/Montserrat-Bold.woff") format("woff"), url("../fonts/MontserratBold/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/MontserratSemiBold/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/MontserratSemiBold/Montserrat-SemiBold.woff") format("woff"), url("../fonts/MontserratSemiBold/Montserrat-SemiBold.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

html, body {
  width: 100%;
  height: 100%;
}

body, p {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

ul li, ol li {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
  max-width: 100%;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button {
  background-color: transparent;
  overflow: visible;
}

input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
          appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template, [hidden] {
  display: none;
}

html {
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  line-height: 1;
}

h1.main {
  font-weight: bold;
  font-size: 8em;
  color: #ffffff;
}

h1.blog-page {
  font-weight: 600;
  font-size: 3.5em;
  line-height: 1.4;
}

h1.page-title {
  font-weight: bold;
  font-size: 4.8em;
}

h1.page-title > span {
  color: #ffb405;
}

h1.page-title > span.line-decor {
  display: inline-block;
  width: 200px;
  height: 3px;
  margin: 0 21px;
  vertical-align: super;
  background-color: #ffb405;
}

h1.page-title > span.capitalize {
  text-transform: capitalize;
  color: #222222;
}

.title-block {
  text-align: center;
  margin-top: 6.6rem;
}

h2 {
  font-weight: bold;
  font-size: 3.2em;
}

h3 {
  font-weight: 600;
  font-size: 1.7em;
}

h3.subtitle {
  font-weight: bold;
  font-size: 1.6em;
}

h4 {
  font-weight: 700;
  font-size: 2em;
  line-height: 1.5;
}

h4.post-subtitle {
  font-weight: 600;
  font-size: 2em;
  line-height: 1;
}

h5 {
  font-weight: 600;
  font-size: 3em;
  text-transform: none;
  color: #ffffff;
}

p {
  font-size: 1.6em;
}

p.subtitle {
  font-style: italic;
  font-size: 1.8em;
}

address {
  font-style: normal;
}

.color-light {
  color: #ffffff;
}

a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #ffb405;
  background-color: #ffb405;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button_size_lg {
  padding: 16px 34px;
  font-size: 1.6em;
}

.button_size_lg:hover, .button_size_md:hover, .button_size_md:focus, .button_size_lg:focus {
  background-color: transparent;
  color: #ffb405;
}

.button_size_lg:active, .button_size_md:active, .button_size_sm:active {
  background-color: #ff6805;
  border-color: #ff6805;
  color: #fff;
}

.button_size_md {
  padding: 13px 30px;
  font-size: 1.4em;
}

.button_size_sm {
  padding: 10px 16px;
  font-size: 1.2em;
}

.button_size_sm:hover, .button_size_sm:focus {
  background-color: #ffd36b;
  border-color: #ffd36b;
}

.comments-button {
  display: inline-block;
  padding: 12px 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1;
  background-color: #EFEFEF;
  color: #999999;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.comments-button:hover, .comments-button:focus {
  background-color: #ffb405;
  color: white;
}

body {
  position: relative;
  overflow-x: hidden;
  overflow-anchor: none;
  min-width: 320px;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #222222;
  background-color: #fff;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  position: relative;
  min-width: 100%;
  /* Top slider */
}

.slide {
  position: relative;
  min-width: 100%;
  min-height: 94rem;
  background-color: #222222;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.slide::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(12, 12, 12, 0.25);
  z-index: 0;
}

.slide-content {
  position: absolute;
  top: 51%;
  left: 50%;
  z-index: 2;
  width: 100%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slide-content__title {
  margin-bottom: 2.6rem;
}

.slide-content__text {
  display: block;
  margin-bottom: 5.4rem;
  font-family: inherit;
  font-size: 3.6rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #fff;
}

.top-slider > .prev,
.top-slider > .next {
  position: absolute;
  top: 50%;
  z-index: 3;
  display: inline-block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 3rem;
  opacity: 0.7;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.top-slider > .prev:hover, .top-slider > .prev:focus,
.top-slider > .next:hover,
.top-slider > .next:focus {
  border-color: #ffb405;
  opacity: 1;
}

.top-slider > .prev {
  background-image: url(../img/svg/header-prev.svg);
  left: 2rem;
}

.top-slider > .next {
  background-image: url(../img/svg/header-next.svg);
  right: 2rem;
}

.dots {
  position: absolute;
  bottom: 8%;
  left: 50%;
  opacity: 0.7;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.dots li {
  display: inline-block;
  margin-left: 15px;
}

.dots li:nth-child(1) {
  margin-left: 0;
}

.dots li button {
  width: 15px;
  height: 15px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  font-size: 0;
  outline: none;
}

li.slick-active {
  /* Top header */
}

li.slick-active button {
  background-color: #ffb405;
}

.top-line {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  border-bottom: 1px solid #6B6B6B;
}

.top-line__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 10.8rem;
  padding-top: 3.5rem;
}

.top-line__logo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
}

.top-line__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
}

@supports (align-items: center) {
  .top-line__block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
  }
}

.logo__linck {
  display: inline-block;
  width: 13.2rem;
  height: 3.5rem;
}

.header-phone {
  min-height: 3.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  /* Top Menu */
}

.header-phone__icon {
  padding-right: 1rem;
  font-size: 3.5em;
  line-height: 1;
  color: #ffb405;
}

.header-phone__link {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2.2em;
  vertical-align: top;
  color: #fff;
}

.header-phone__link_color_dark {
  color: #222222;
}

.header-phone__link:hover, .header-phone__link:focus {
  color: #ffb405;
}

.top-menu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
}

.top-menu__list {
  padding-top: 14.5rem;
  text-align: center;
}

.top-menu__list::before {
  content: "";
  display: none;
  width: 50px;
  height: 50px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.top-menu__item {
  display: inline-block;
  margin-left: 32px;
}

.top-menu__item:first-child {
  margin-left: 0;
}

.top-menu__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4em;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
}

.top-menu__link:hover, .top-menu__link:focus {
  color: #ffb405;
}

.top-menu__link_color_dark {
  color: #222222;
}

.top-menu-page {
  position: static;
}

a.active {
  color: #ffb405;
  /* hamburger menu */
}

.menu-toggle {
  display: none;
  position: absolute;
  top: 2.2rem;
  right: 2rem;
  z-index: 250;
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  /* menu open */
}

.menu-toggle__icon {
  display: block;
  width: 100%;
  height: 100%;
}

.menu-toggle__span, .menu-toggle__span::before, .menu-toggle__span::after {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 2px;
  margin-top: -1px;
  margin-left: -15px;
  background-color: #ffb405;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.menu-toggle__span::before, .menu-toggle__span::after {
  content: "";
  -webkit-transform: translate(0, -8px);
      -ms-transform: translate(0, -8px);
          transform: translate(0, -8px);
}

.menu-toggle__span::after {
  -webkit-transform: translate(0, 8px);
      -ms-transform: translate(0, 8px);
          transform: translate(0, 8px);
}

.menu-open .menu-toggle__span, .menu-open .menu-toggle__span::before, .menu-open .menu-toggle__span::after {
  height: 0;
}

.menu-open .menu-toggle__span::before, .menu-open .menu-toggle__span::after {
  height: 2px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu-open .menu-toggle__span::after {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.top-menu.open-list {
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

/* Section introduction */
.s-introduction {
  padding: 8rem 0;
}

.text-block {
  max-width: 95rem;
  margin: 0 auto;
  text-align: center;
  opacity: 0.99;
}

.text-block__subtitle {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h2 > span {
  color: #ffb405;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 2.2rem;
  margin-bottom: 1rem;
}

.services__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  padding: 5rem 1rem;
  border: 3px solid rgba(0, 0, 0, 0);
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services__item:hover, .services__item:focus {
  border-color: #ffb405;
}

.services__item > i {
  font-size: 4.8em;
  color: #ffb405;
}

.services__link {
  display: block;
  padding-top: 23px;
  padding-bottom: 10px;
  letter-spacing: 0.03em;
  color: #222222;
}

.services__link:hover, .services__link:focus {
  color: #ffb405;
}

.services__text {
  font-size: 1.7em;
  color: #6a6a6a;
}

.s-resort {
  position: relative;
  min-height: 89.6rem;
  padding-top: 8rem;
  padding-bottom: 6rem;
  background-color: #222222;
  background-size: cover;
}

.s-resort::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(12, 12, 12, 0.7);
  z-index: 0;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1.1rem;
  margin-right: -1.1rem;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

.gallery__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 1rem;
  margin-right: 1rem;
  width: calc(100% / 12 * 4 - 2rem);
  margin-bottom: 2rem;
  text-align: center;
  overflow: hidden;
}

.gallery__link {
  position: relative;
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.gallery__link:hover, .gallery__link:focus {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.gallery__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 180, 5, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.gallery__link::after {
  content: "\f00e";
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2.5em;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}

.gallery__link:hover::before, .gallery__link:focus::before, .gallery__link:hover::after, .gallery__link:focus::after {
  opacity: 1;
}

.gallery__img {
  display: block;
}

/* magnific popap gallery customize */
button.mfp-close {
  font-size: 4rem;
}

/* animate gallery */
.mfp-ready .mfp-figure {
  opacity: 0;
}

.mfp-zoom-in .mfp-figure, .mfp-zoom-in .mfp-iframe-holder .mfp-iframe-scaler {
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.mfp-zoom-in.mfp-bg, .mfp-zoom-in .mfp-preloader {
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.mfp-zoom-in.mfp-image-loaded .mfp-figure {
  opacity: 1;
}

.mfp-zoom-in.mfp-ready .mfp-iframe-holder .mfp-iframe-scaler {
  opacity: 1;
}

.mfp-zoom-in.mfp-ready.mfp-bg, .mfp-zoom-in.mfp-ready .mfp-preloader {
  opacity: 0.8;
}

.mfp-zoom-in.mfp-removing .mfp-figure, .mfp-zoom-in.mfp-removing .mfp-iframe-holder .mfp-iframe-scaler {
  opacity: 0;
}

.mfp-zoom-in.mfp-removing.mfp-bg, .mfp-zoom-in.mfp-removing .mfp-preloader {
  opacity: 0;
}

.mfp-iframe-scaler {
  overflow: visible;
}

.mfp-zoom-out-cur {
  cursor: auto;
}

.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: pointer;
}

/* magnific popap gallery preloader */
.mfp-preloader {
  width: 30px !important;
  height: 30px !important;
  background-color: #ffb405 !important;
  opacity: 0.65;
  margin: 0 auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
          animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.s-testimonials {
  padding: 8rem 0;
}

.testimonials-slider {
  position: relative;
  margin-top: 30px;
}

.testimonials-slider > .prev,
.testimonials-slider > .next {
  position: absolute;
  top: 50%;
  z-index: 3;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 2rem;
  opacity: 0.65;
  cursor: pointer;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.testimonials-slider > .prev:hover, .testimonials-slider > .prev:focus,
.testimonials-slider > .next:hover,
.testimonials-slider > .next:focus {
  opacity: 1;
}

.testimonials-slider > .prev {
  background-image: url(../img/svg/small-angle-prev.svg);
  left: 7%;
}

.testimonials-slider > .next {
  background-image: url(../img/svg/small-angle-next.svg);
  right: 7%;
}

.testimonials-slide {
  text-align: center;
}

.testimonials-slide__img {
  margin: 0 auto;
  border-radius: 50%;
}

.testimonials-slide__text {
  max-width: 68rem;
  margin: 3.3rem auto 4rem auto;
  font-size: 1.6em;
}

.testimonials-slide__author {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.8em;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffb405;
}

.testimonials-slide__position {
  margin-top: 1.3rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6em;
  line-height: 1;
}

.s-discount {
  position: relative;
  min-height: 54.8rem;
  padding: 9rem 0;
  background-color: #222222;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.s-discount::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(12, 12, 12, 0.7);
}

.discount {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.discount__img-wrap {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
}

.discount__img-border {
  display: inline-block;
  padding: 7px;
  border: 1px solid rgba(255, 180, 5, 0.3);
  border-radius: 50%;
}

.discount__img {
  display: block;
  border-radius: 50%;
}

.discount__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 7.5rem;
}

.discount__title {
  margin-bottom: 2.4rem;
  font-family: "Montserrat", sans-serif;
  font-size: 4.8em;
  font-weight: bold;
  line-height: 1.08;
  text-transform: uppercase;
  color: #ffffff;
}

.discount__title-top {
  display: block;
  margin-bottom: 3.6rem;
  font-family: "Lato", sans-serif;
  font-size: 2.4rem;
  font-weight: normal;
  font-style: italic;
  text-transform: none;
  color: #ffb405;
}

.s-news {
  padding-top: 8rem;
}

.news-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.8rem;
}

.news-block__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
  margin-bottom: 3.5rem;
}

.news-block__img, .latest-posts__img {
  display: block;
  margin-bottom: 1rem;
}

.news-block__img:hover, .latest-posts__img:hover, .news-block__img:focus, .latest-posts__img:focus {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.news-block__title-link {
  display: inline-block;
  color: #222222;
}

.news-block__title-link:hover, .news-block__title-link:focus {
  color: #ffb405;
}

.news-block__date, .latest-posts__date {
  display: inline-block;
  margin-top: 2.3rem;
  margin-bottom: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1;
  color: #999999;
}

.news-block__link {
  display: inline-block;
  margin-top: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.7em;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  color: #ffb405;
}

.news-block__link:hover, .news-block__link:focus {
  color: #ffd36b;
}

.s-contact {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.contact__info, .contact__map, .contact__block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}

.contact__map {
  margin-top: 3.5rem;
}

.contact__map_bottom {
  margin-top: 7rem;
  border: 1px solid #e2e2e2;
}

.contact__message {
  margin-top: 5rem;
  margin-bottom: 7.8rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.5;
  color: #999;
}

.info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 5rem;
}

.info__title {
  margin-bottom: 1rem;
}

.info__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.8;
  color: #999;
}

.info__loc, .info__contact, .info__schedule, .info__social {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}

.info__schedule {
  text-transform: uppercase;
  margin-top: 6.2rem;
}

.info__social {
  margin-top: 6.2rem;
}

.info__phone, .info__mail, .social__link {
  color: #999;
}

.info__phone:hover, .info__mail:hover, .social__link:hover, .info__phone:focus, .info__mail:focus, .social__link:focus {
  color: #ffb405;
}

.social__item {
  display: inline-block;
  margin-right: 3px;
}

.social__link {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background-color: #efefef;
  line-height: 5rem;
  text-align: center;
  font-size: 2.5rem;
}

.footer-top {
  min-height: 35rem;
  padding-top: 5.3rem;
  padding-bottom: 5.8rem;
  background-color: #29292a;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.footer-content__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
}

.footer-content__item:nth-child(3) {
  width: calc(16.66667% - 30px);
}

.footer-content__item:nth-child(4) {
  width: calc(33.33333% - 30px);
}

.footer-content__title-blog {
  margin-top: 3rem;
  margin-bottom: 1.6rem;
  font-weight: 600;
  line-height: 1.1;
}

.footer-content__link-blog {
  color: #fff;
}

.footer-content__link-blog:hover, .footer-content__link-blog:focus {
  color: #ffb405;
}

.footer-content__text-blog {
  font-size: 15px;
  line-height: 1.33;
  color: #727272;
}

.footer-contact, .footer-contact__phone > a {
  margin-top: 1.6rem;
  margin-bottom: 1.7rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #727272;
}

.footer-contact__icon-loc, .footer-contact__icon-phone {
  float: left;
  font-size: 2rem;
  color: #9e9e9e;
  margin-right: 1.4rem;
}

.footer-contact__icon-phone {
  margin-right: 5px;
}

.footer-contact__phone {
  margin-top: 7px;
}

.footer-contact__phone::after {
  content: "";
  display: block;
  clear: both;
}

.footer-contact__phone > a {
  margin: 0;
}

.footer-contact__phone > a:hover, .footer-contact__phone > a:focus {
  color: #ffb405;
}

.footer-menu {
  margin-top: 3rem;
}

.footer-menu__item {
  margin-bottom: 1.2rem;
}

.footer-menu__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.6em;
  line-height: 1;
  text-transform: capitalize;
  color: #ffffff;
}

.footer-menu__link:hover, .footer-menu__link:focus {
  color: #ffb405;
}

.active > .footer-menu__link {
  color: #ffb405;
}

.instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-top: 3rem;
}

.instagram__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: calc(100% / 12 * 4 - 1rem);
  margin-bottom: 1rem;
  overflow: hidden;
}

.instagram__link {
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.instagram__link:hover, .instagram__link:focus {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.instagram__img {
  display: block;
}

.footer-bottom {
  min-height: 6rem;
  background-color: #1f1f21;
}

.copy {
  padding: 1.7rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.7em;
  font-weight: normal;
  text-align: center;
  color: #727272;
}

.copy__link {
  color: #ffb405;
}

.copy__link:hover, .copy__link:focus {
  color: #fff;
}

.s-description {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.description__img-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(41.66667% - 30px);
}

.description__text-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(58.33333% - 30px);
}

.description__h2-bottom {
  display: block;
  margin-top: 1.6rem;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  font-style: italic;
  color: #222222;
}

.description__subtitle {
  margin-top: 4.8rem;
  margin-bottom: 1.8rem;
}

.description__subtext {
  margin-top: 1.8rem;
  margin-bottom: 4rem;
}

.description__button {
  margin-top: 4rem;
}

.s-facts {
  position: relative;
  min-height: 20rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.s-facts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(16, 16, 16, 0.7);
}

.facts-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7.3rem 0;
  opacity: 0.99;
}

.facts-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  color: #ffffff;
}

.facts-block__count {
  font-size: 5.2em;
  font-weight: 600;
}

.facts-block__text {
  display: inline-block;
  margin-left: 1.5rem;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

@supports (align-content: center) {
  .facts-wrap {
    min-height: 20rem;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 0;
  }
}

.s-services {
  padding: 8rem 0;
}

.s-services__bg {
  position: relative;
  min-height: 31rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.s-services__bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(16, 16, 16, 0.7);
}

.s-services__text {
  padding-top: 8.5rem;
}

.services-wrap {
  position: relative;
  margin-top: -6.2rem;
}

.services-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -3px;
  margin-right: -3px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-block__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 3px;
  margin-right: 3px;
  width: calc(100% / 12 * 6 - 6px);
  min-height: 25.4rem;
  margin-bottom: 6px;
  padding: 4rem 5rem;
  -webkit-box-shadow: 0 5px 26px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 26px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.services-block__icon {
  margin-bottom: 2rem;
  font-size: 5em;
  line-height: 1;
  color: #ffb405;
}

.services-block__link {
  color: #222222;
}

.services-block__link:hover, .services-block__link:focus {
  color: #ffb405;
}

.services-block__text {
  margin-top: 6px;
}

/* Blog, Article */
.s-blog {
  padding-top: 8rem;
  padding-bottom: 9rem;
}

.column-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.content-left {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(66.66667% - 30px);
}

.post {
  margin-bottom: 4rem;
  border-bottom: 1px solid #e2e2e2;
}

.post:last-child {
  border: none;
}

.post__title {
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.4;
}

.post__title-link {
  color: #222222;
}

.post__title-link:hover, .post__title-link:focus {
  color: #ffb405;
}

.post__img-block {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}

.post__img-link {
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.post__img-link:hover, .post__img-link:focus {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.post__text {
  margin-bottom: 2.7rem;
  font-size: 1.8em;
}

.post__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.post__social-list {
  margin-top: 5rem;
}

.post__section {
  margin-top: 7rem;
}

.post__comment-list {
  margin-top: 3rem;
}

.inline-list {
  margin-top: 1.6rem;
  font-size: 1.3em;
  line-height: 1;
  color: #999999;
}

.inline-list__item {
  display: inline-block;
  margin-right: 14px;
}

.inline-list__item-link {
  text-transform: uppercase;
  color: #ffb405;
}

.inline-list__item-link:hover, .inline-list__item-link:focus {
  color: #d19200;
}

.sidebar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
}

.search-form {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.search-form__input {
  max-width: 32rem;
  width: 100%;
  padding: 0 10px;
  line-height: 40px;
}

.search-form__button {
  width: 4.2rem;
  height: 4.2rem;
  margin-left: 5px;
  background-color: #ffb405;
  border: none;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.search-form__button::before {
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.4rem;
  color: #ffffff;
}

.search-form__button:hover, .search-form__button:focus {
  background-color: #ffd36b;
}

.widget {
  margin-top: 5rem;
  padding-top: 5rem;
  border-top: 1px solid #E2E2E2;
}

.widget__title {
  margin-bottom: 3rem;
}

.recent-list__item {
  margin-bottom: 1.6rem;
}

.recent-list__link, .category-list__link {
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #222222;
}

.recent-list__link:hover, .category-list__link:hover, .recent-list__link:focus, .category-list__link:focus {
  color: #ffb405;
}

.category-list__item {
  margin-bottom: 1.1rem;
}

.category-list__link {
  color: #ffb405;
}

.category-list__link:hover, .category-list__link:focus {
  color: #222222;
}

.social-list {
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-size: 2.2em;
  letter-spacing: 0.03em;
}

.social-list__item {
  display: inline-block;
}

.social-list__item:first-child {
  margin-right: 15px;
}

.social-list__link {
  padding: 0 15px;
  color: #999999;
}

.social-list__link:hover, .social-list__link:focus {
  color: #ffb405;
}

.divider {
  width: 100%;
  height: 1px;
  margin-top: 18px;
  background-color: #e2e2e2;
}

.post-autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3rem;
}

.post-autor__img {
  max-width: 14rem;
  max-height: 14rem;
  min-width: 14rem;
  min-height: 14rem;
  margin-right: 3rem;
}

.post-autor__img > img {
  border-radius: 50%;
}

.post-autor__name, .heading-list__link {
  font-size: 2rem;
  line-height: 1;
  color: #ffb405;
}

.post-autor__name:hover, .heading-list__link:hover, .post-autor__name:focus, .heading-list__link:focus {
  color: #d19200;
}

.post-autor__position {
  margin-top: 1rem;
  margin-bottom: 3rem;
  line-height: 1;
  color: #999999;
}

.box-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-comment__img {
  max-width: 8rem;
  max-height: 8rem;
  min-width: 8rem;
  min-height: 8rem;
  margin-right: 3rem;
}

.box-comment__img > img {
  border-radius: 50%;
}

.box-comment__author-reply {
  margin-top: 2rem;
}

.box-comment__heading-list {
  margin-bottom: 2rem;
  margin-left: -3rem;
  margin-right: -4rem;
}

.box-comment__comment-list-reply {
  margin-top: 5rem;
}

.heading-list__item {
  display: inline-block;
  padding: 0 3rem;
  font-size: 1.6em;
  color: #999999;
}

.author-reply {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1;
  color: #ffb405;
}

.author-reply:hover, .author-reply:focus {
  color: #d19200;
}

.author-reply__icon {
  margin-right: 12px;
  font-size: 1.8rem;
}

.comment-list-reply > li {
  padding-left: 7rem;
}

.reply-author__icon {
  margin-right: 12px;
  font-size: 1.8rem;
}

.latest-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.latest-posts__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
  margin-top: 3rem;
}

.latest-posts__img {
  margin-bottom: 2rem;
}

.latest-posts__title, .latest-posts__link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.7em;
  text-transform: uppercase;
  line-height: 1.4;
}

.latest-posts__title-link {
  display: inline-block;
  margin-bottom: 4px;
  color: #222222;
}

.latest-posts__title-link:hover, .latest-posts__title-linkfocus {
  color: #ffb405;
}

.latest-posts__date {
  margin-top: 0;
  margin-bottom: 14px;
}

.latest-posts__link {
  display: inline-block;
  margin-top: 1.6rem;
  font-size: 1.4em;
  line-height: 1;
  color: #ffb405;
}

.latest-posts__link:hover, .latest-posts__linkfocus {
  color: #d19200;
}

/* Form */
*::-webkit-input-placeholder {
  color: #999999;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
}

/* Firefox 18- */
*:-moz-placeholder {
  color: #999999;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  /* Firefox 19+ */
}

*::-moz-placeholder {
  color: #999999;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
}

*:-ms-input-placeholder {
  color: #999999;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
}

input,
textarea {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4em;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  outline: none;
}

span.error {
  position: absolute;
  top: 100%;
  left: 0;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1.2rem;
  color: #f11111;
}

input.error,
textarea.error {
  border-color: #f11111;
  -webkit-box-shadow: 0 0 3px 1px #f11111;
          box-shadow: 0 0 3px 1px #f11111;
}

input:focus,
textarea:focus {
  border-color: #ffb405;
}

.form-notific {
  margin-top: 3rem;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4em;
  line-height: 1;
}

.form {
  width: 100%;
}

.form-group {
  position: relative;
  margin-top: 2rem;
}

.form__input, .form__textarea {
  min-width: 100%;
  padding: 11px 15px;
}

.form__textarea {
  min-height: 20rem;
  max-height: 40rem;
  line-height: 1.2;
  resize: vertical;
}

.form__button {
  min-width: 100%;
  margin-top: 3rem;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 40px;
  border: none;
}

.form__button:hover, .form__button:focus {
  background-color: #ffd36b;
}

.notfound {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 7rem 0;
  background-color: #222;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.notfound::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.notfound__logo {
  position: relative;
  width: 16rem;
  height: auto;
  z-index: 10;
}

.notfound__content {
  position: relative;
  z-index: 10;
  max-width: 750px;
  margin: auto;
  padding: 0 15px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.notfound__text-large {
  font-size: 16em;
  font-weight: bold;
  line-height: 1;
  color: #ffb405;
}

.notfound__text {
  margin-top: 2.5rem;
  margin-bottom: 5.5rem;
  font-size: 4.2em;
  line-height: 1.3;
  color: #fff;
}

@media screen and (max-width: 1199px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .instagram__item {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 991px) {
  h1.page-title > span.line-decor {
    display: none;
  }
  .slide {
    min-height: 74rem;
  }
  .slide-content {
    top: 65%;
  }
  .top-slider > .prev,
  .top-slider > .next {
    display: none !important;
  }
  .top-line__logo {
    width: calc(33.33333% - 30px);
  }
  .services {
    margin-bottom: 0;
  }
  .services__item {
    width: calc(50% - 30px);
  }
  .services__item {
    padding: 2.5rem;
  }
  .gallery__item {
    width: calc(50% - 30px);
  }
  .gallery__link:hover, .gallery__link:focus {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  .gallery__link:hover::before, .gallery__link:focus::before, .gallery__link:hover::after, .gallery__link:focus::after {
    opacity: 0;
  }
  .testimonials-slider > .prev,
  .testimonials-slider > .next {
    top: 15%;
  }
  .testimonials-slider > .prev,
  .testimonials-slider > .next {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .discount__img-wrap {
    width: calc(100% - 30px);
  }
  .discount__img-wrap {
    text-align: center;
  }
  .discount__content {
    margin-top: 4rem;
  }
  .discount__content {
    width: calc(100% - 30px);
  }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact__info, .contact__map, .contact__block {
    width: calc(100% - 30px);
  }
  .contact__map_bottom {
    margin-top: 4rem;
  }
  .contact__block:first-child {
    margin-top: 6rem;
  }
  .contact__message {
    margin-top: 2.5rem;
  }
  .contact__message {
    margin-bottom: 4rem;
  }
  .info__block {
    margin-top: 2.5rem;
  }
  .info__schedule {
    margin-top: 1.5rem;
  }
  .info__social {
    margin-top: 1.5rem;
  }
  .footer-content__item {
    width: calc(33.33333% - 30px);
  }
  .footer-content__item:nth-child(3) {
    width: calc(33.33333% - 30px);
  }
  .footer-content__item:nth-child(4) {
    width: calc(66.66667% - 30px);
  }
  .footer-content__item:nth-child(4) {
    margin-top: 3rem;
  }
  .instagram__item {
    width: calc(33.33333% - 30px);
  }
  .facts-block__text {
    display: block;
  }
  .facts-block__text {
    margin-left: 0;
  }
  .facts-block__text {
    margin-top: 1.5rem;
  }
  .content-left {
    width: calc(100% - 30px);
  }
  .sidebar {
    width: calc(100% - 30px);
  }
  .search-form__input {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  h1.main {
    font-size: 4.2rem;
  }
  h1.page-title {
    font-size: 4em;
  }
  .title-block {
    margin-top: 4rem;
  }
  h2 {
    font-size: 2.8em;
  }
  .slide {
    min-height: 64rem;
  }
  .slide-content__title {
    margin-bottom: 2rem;
  }
  .slide-content__text {
    font-size: 2rem;
  }
  .slide-content__text {
    margin-bottom: 3.5rem;
  }
  .top-line {
    padding: 30px 0 40px 0;
  }
  .top-line {
    text-align: center;
  }
  .top-line__block {
    padding-top: 0;
  }
  .top-line__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top-line__logo {
    width: calc(75% - 30px);
  }
  .top-line__logo {
    margin-top: 5px;
  }
  .top-line__logo {
    margin-bottom: 20px;
  }
  .top-line__logo {
    padding: 0;
  }
  .top-line__button {
    width: calc(75% - 30px);
  }
  .top-line.top-line-page {
    position: static;
  }
  .header-phone {
    width: calc(75% - 30px);
  }
  .top-menu {
    position: fixed;
  }
  .top-menu {
    z-index: 15;
  }
  .top-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .top-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top-menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top-menu {
    height: 100%;
  }
  .top-menu {
    background-color: #222222;
  }
  .top-menu {
    overflow: auto;
  }
  .top-menu {
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  .top-menu {
    -webkit-transition: all 0.85s ease;
    -o-transition: all 0.85s ease;
    transition: all 0.85s ease;
  }
  .top-menu__list {
    padding-top: 0;
  }
  .top-menu__list::before {
    display: inline-block;
  }
  .top-menu__list::before {
    background-image: url(../img/svg/logo-emblem.svg);
  }
  .top-menu__list::before {
    background-size: cover;
  }
  .top-menu__item {
    display: block;
  }
  .top-menu__item {
    margin: 0;
  }
  .top-menu__link {
    display: block;
  }
  .top-menu__link {
    width: 100vw;
  }
  .top-menu__link {
    font-size: 2em;
  }
  .top-menu__link {
    line-height: 50px;
  }
  .top-menu__link {
    letter-spacing: 1px;
  }
  .top-menu__link {
    -webkit-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
  }
  .top-menu__link:hover, .top-menu__link:focus {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .top-menu__link_color_dark {
    color: #fff;
  }
  .top-menu-page {
    position: fixed;
  }
  .menu-toggle {
    display: inline-block;
  }
  .s-introduction {
    padding: 4rem 0;
  }
  .services__item {
    width: calc(100% - 30px);
  }
  .services__item {
    padding: 1.5rem;
  }
  .s-resort {
    padding-top: 4rem;
  }
  .s-resort {
    padding-bottom: 2rem;
  }
  .gallery__item {
    width: calc(100% - 30px);
  }
  .s-testimonials {
    padding: 4rem 0;
  }
  .s-discount {
    padding: 4rem 0;
  }
  .discount__content {
    margin-top: 2rem;
  }
  .s-news {
    padding-top: 4rem;
  }
  .news-block__item {
    width: calc(100% - 30px);
  }
  .news-block__item:last-child {
    margin-bottom: 0;
  }
  .s-contact {
    padding-top: 4rem;
  }
  .s-contact {
    padding-bottom: 5rem;
  }
  .contact__block:first-child {
    margin-top: 4rem;
  }
  .footer-top {
    padding: 4rem 0;
  }
  .footer-content__item {
    width: calc(100% - 30px);
  }
  .footer-content__item {
    margin-bottom: 3rem;
  }
  .footer-content__item:nth-child(3) {
    width: calc(100% - 30px);
  }
  .footer-content__item:nth-child(4) {
    width: calc(100% - 30px);
  }
  .footer-content__item:nth-child(4) {
    margin: 0 15px;
  }
  .footer-contact__icon-loc, .footer-contact__icon-phone {
    float: none;
  }
  .s-description {
    padding-top: 6rem;
  }
  .s-description {
    padding-bottom: 4rem;
  }
  .description__img-block {
    width: calc(100% - 30px);
  }
  .description__text-block {
    width: calc(100% - 30px);
  }
  .description__text-block {
    margin-top: 3rem;
  }
  .facts-wrap {
    padding: 4rem 0 0 0;
  }
  .facts-block {
    width: calc(100% - 30px);
  }
  .facts-block {
    margin-bottom: 4rem;
  }
  .facts-block {
    text-align: center;
  }
  .s-services {
    padding: 4rem 0;
  }
  .services-block__item {
    width: calc(100% - 30px);
  }
  .s-blog {
    padding: 4rem 0;
  }
  .post__title {
    font-size: 2.2rem;
  }
  .post-autor {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .post-autor__body {
    margin-top: 1.5rem;
  }
  .box-comment {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .box-comment__body {
    margin-top: 1.5rem;
  }
  .comment-list-reply > li {
    padding-left: 2rem;
  }
  .latest-posts__item {
    width: calc(100% - 30px);
  }
  .notfound {
    padding: 5rem 0;
  }
  .notfound__logo {
    width: 14rem;
  }
  .notfound__logo {
    margin-bottom: 3rem;
  }
  .notfound__text-large {
    font-size: 10em;
  }
  .notfound__text {
    font-size: 3.2em;
  }
}

@media screen and (max-width: 575px) {
  h1.page-title {
    font-size: 3.6em;
  }
  h2 {
    font-size: 2.6em;
  }
  h2 {
    line-height: 1.2;
  }
  h5 {
    font-size: 2.4em;
  }
  .button_size_lg {
    padding: 14px 30px;
  }
  .button_size_lg {
    font-size: 1.5em;
  }
  .button_size_md {
    padding: 11px 26px;
  }
  .button_size_md {
    font-size: 1.3em;
  }
  .header-phone__icon {
    font-size: 2.5rem;
  }
  .header-phone__icon {
    padding: 0;
  }
  .header-phone__link {
    font-size: 1.7rem;
  }
  .menu-toggle {
    top: 1.5rem;
  }
  .menu-toggle {
    right: 1%;
  }
  .testimonials-slider > .prev {
    left: 2%;
  }
  .testimonials-slider > .next {
    right: 2%;
  }
  .discount__title {
    font-size: 4.4em;
  }
  .info__loc, .info__contact, .info__schedule, .info__social {
    width: calc(100% - 30px);
  }
  .info__contact {
    margin-top: 1.5rem;
  }
  .footer-content__title-blog {
    line-height: 1.4;
  }
  .footer-content__title-blog {
    font-size: 1.6rem;
  }
  .instagram__item {
    width: calc(50% - 30px);
  }
  .copy {
    font-size: 1.5em;
  }
  .description__h2-bottom {
    font-size: 1.4rem;
  }
  .description__h2-bottom {
    margin-top: 0.5rem;
  }
  .description__subtitle {
    margin-top: 2.5rem;
  }
  .description__subtext {
    margin-top: 1rem;
  }
  .description__subtext {
    margin-bottom: 2rem;
  }
  .description__button {
    margin-top: 3rem;
  }
  .facts-wrap {
    padding: 4rem 0 1rem 0;
  }
  .facts-block {
    margin-bottom: 3rem;
  }
  .facts-block__count {
    font-size: 3.8em;
  }
  .facts-block__text {
    font-size: 1.6em;
  }
  .facts-block__text {
    line-height: 1.2;
  }
  .facts-block__text {
    margin-top: 1rem;
  }
  .services-wrap {
    margin-top: 0;
  }
  .services-block__icon {
    font-size: 4em;
  }
  .post__title {
    font-size: 2rem;
  }
  .post__text {
    font-size: 1.6em;
  }
  .post__text {
    margin-bottom: 1rem;
  }
  .post__social-list {
    margin-top: 3rem;
  }
  .post__section {
    margin-top: 5rem;
  }
  .inline-list {
    line-height: 1.4;
  }
  .social-list {
    font-size: 2em;
  }
  .social-list__link {
    padding: 0 10px;
  }
  .notfound__text-large {
    font-size: 8em;
  }
  .notfound__text {
    font-size: 2.8em;
  }
  .notfound__text {
    margin-top: 2rem;
  }
  .notfound__text {
    margin-bottom: 4rem;
  }
}

/*# sourceMappingURL=main.css.map */
